td.labs {
    background-color: lightgreen;
    color: black; /* Example: Set text color to white */
}

td.lunch {
    background-color: lightblue;
    color: black; /* Example: Set text color to white */
}

